{% extends 'base.html.twig' %}
{% block headerPage %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 text-uppercase">{{ doc.id ?'Edycja grupy  "'~old_name~'"':'Dodanie nowej grupy' }}</h1>
        </div>
    </div>
{% endblock %}
{% block breadcrumbs %}
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Grupy</a></li>
                        <li class="breadcrumb-item active">{{ doc.id ? "Edycja grupy" : 'Nowa grupa' }}</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-primary">
                <div class="card-body">
                    {{ form_start(form) }}
                    <div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h3 class="font-weight-bolder">Dane grupy</h3>
                                </div>
                            </div>
                            <div class="col-sm-6 text-right">
                                <span class="text-muted small">* pola obowiązkowe</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(form.name) }}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(form.diskSpaceLimit) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <h3 class="font-weight-bolder">Kategorie grupy</h3>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {{ form_row(form.categoriesDirectoryCmsId) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="float-right mt-2">
                                <a href="{{ path('group_index') }}" type="button"
                                   class="btn-outline-primary btn">Anuluj</a>
                                {{ form_widget(form.submit) }}
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}