{% extends 'base.html.twig' %}
{% block headerPage %}
    <div class="row">
        <div class="col-sm-6">
            <h1 class="m-0 text-uppercase">{{ 'Szczegóły grupy  "'~group.getName()~'"'}}</h1>
        </div>
        <div class="col-sm-6 text-right" data-controller="group">
            <a class="ml-3" href="{{ path('group_edit', {'id': group.id} ) }}"> <i class="fa fa-pencil"></i> Edytuj</a>
            <a class="ml-3" data-action="group#delete" href="{{ path('group_delete', {'id': group.id} ) }}"> <i class="fa fa-trash"></i> Usuń</a>
        </div>
    </div>
{% endblock %}
{% block breadcrumbs %}
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('group_index') }}">Grupy</a></li>
                        <li class="breadcrumb-item active">Szczegóły grupy</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-primary mb-5">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Informacje systemowe</h5>
                    <div class="mb-4">
                        <span class="font-weight-bolder">Data utworzenia:</span> {{ group.getCreatedAt()|date('Y-m-d H:i:s') }}
                        <br>
                        <span class="font-weight-bolder">Utworzona przez:</span>
                        {% if group.getCreatedBy() is not empty %}
                            {{ group.getCreatedBy().getUsername() }}
                        {% endif %}
                    </div>
                    <div>
                        <span class="font-weight-bolder">Ostatnia zmiana:</span> {{ group.getLastUpdatedAt()|date('Y-m-d H:i:s') }}
                        <br>
                        <span class="font-weight-bolder">Zmieniający:</span>
                        {% if group.getLastUpdatedBy() is not empty %}
                            {{ group.getLastUpdatedBy().getUsername() }}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card card-primary mb-5">
                <div class="card-body">
                    <h5 class="mb-3 font-weight-bolder">Dane grupy</h5>
                    <div class="mb-3">
                        <span class="font-weight-bolder">Nazwa grupy:</span> {{ group.getName() }}
                    </div>
                    <div class="mb-3">
                        <span class="font-weight-bolder">Limit powierzchni dyskowej (MB):</span> {{ group.getDiskSpaceLimit() }}
                    </div>
                    <div class="mb-3 col-sm-6" style="padding-left: 0">
                        <div class="row">
                            <div class=" col-sm-3">
                                <span class="font-weight-bolder">Kategorie grupy:</span>
                            </div>
                            <div class=" col-sm-9">
                                {% for category in categories %}
                                    {{ category.title }} <br>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-primary mb-5">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Elementy powiązane z grupą</h5>
                </div>
            </div>
            <div class="card card-primary mb-5">
                <div class="card-body">
                    <h5 class="font-weight-bolder">Historia zmian grupy</h5>
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Data zmiany</th>
                                        <th>Zmieniający</th>
                                        <th>Pole</th>
                                        <th>Wartość po zmianie</th>
                                        <th>Wartość przed zmianą</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for change in history %}
                                        <tr>
                                            <td>{{ change.getCreatedAt()|date('Y-m-d H:i') }}</td>
                                            <td>{{ change.getCreatedBy() is empty ? '-' : change.getCreatedBy()}}</td>
                                            <td>
                                                {% set field = change.getFieldName() %}
                                                {% if field == 'name' %}
                                                    Nazwa grupy
                                                {% elseif field == 'categoriesDirectoryCmsId' %}
                                                    ID katalogu nadrzędnego w CMS
                                                {% elseif field == 'isActive' %}
                                                    Grupa aktywna
                                                {% endif %}
                                            </td>
                                            <td>{{ change.getChangedValue() }}</td>
                                            <td>{{ change.getOriginalValue() }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}